<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images test with auth app</title>
</head>
<body>

    <h1>Images test with auth app</h1>
    {% if user.is_authenticated %}
    <a href="{% url 'upload' %}"><button>Upload</button></a>
    <a href="{% url 'logout' %}"><button>Logout</button></a>
    {% else %}
    <a href="{% url 'register' %}"><button>Register</button></a>
    <a href="{% url 'login' %}"><button>Login</button></a>
    {% endif %}
    <hr>
    {% block content %}
   
    {% endblock%}
    boom!!!
</body>
</html>